<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='cerulean.min.css') }}">
<title>Feature Visualizer</title>
<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.js"></script>

</head>
<body>
<div class="container-fluid">
<H1>Feature visualizer</H1>
	<div class="row">
		<div class="col-sm-3">
			<div class="panel-body">
				<form action='/visualize' method="post">
				<b>Feature selection:</b></br>
					{% for feature in feature_names %}
						{% if feature in selected_features %}
							<label><input type="checkbox" name="feature" id ="{{ feature }}" value="{{ feature }}" checked>{{ feature }}</label>
						{% else %}
							<label><input type="checkbox" name="feature" id ="{{ feature }}" value="{{ feature }}">{{ feature }}</label>
						{% endif %}
						</br>
					{% endfor %}
			</div>
			<div class="panel-body">
				<b>Visualizations:</b></br>
				{% for v in viz_names %}
					{% if v in selected_viz %}
						<label><input type="checkbox" name="viz" value={{ v }} checked>{{ v }}</label>
					{% else %}
						<label><input type="checkbox" name="viz" value={{ v }}>{{ v }}</label>
					{% endif %}
					{% if v in "TSNE" %}
						<label>Iterations (min=250):</br><input type="text" name="tsne_iter" value="300"></label>
					{% endif %}
					{% if v in "MDS" %}
						<label>Max. Iterations (Warning: SLOW!!): </br><input type="text" name="mds_iter" value="5"></label>
					{% endif %}
					</br>
				{% endfor %}
				<!--
				<label><input type="checkbox" name="viz" value="LDA">LDA</label></br>
				<label><input type="checkbox" name="viz" value="RANDOM" >Random projection</label></br>
				<label><input type="checkbox" name="viz" value="TSNE">t-SNE</label></br>
				<label>Iterations (min=200):</br><input type="text" name="tsne_iter" value="300"></label></br>
				<label><input type="checkbox" name="viz" value="MDS" >MDS</label></br>
				<label>Max. Iterations (Warning: SLOW!!): </br><input type="text" name="mds_iter" value="5"></label></br>
				-->
				<button type='submit'>Submit</button>
				</form>
			</div>
		</div>
		<div class="col-sm-8">
			{{ script|safe }}
			{{ div|safe }}
		</div>
	</div>
</div>

</body>
</html>


