<html>
<title>Feature Visualizer</title>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='cerulean.min.css') }}">
	<link rel="apple-touch-icon" sizes="57x57" href="static/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="static/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="static/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="static/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="static/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="static/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="static/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="static/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="static/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="static/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="static/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
	<link rel="manifest" href="static/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<link
		href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css"
		rel="stylesheet" type="text/css">
	<link
		href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css"
		rel="stylesheet" type="text/css">

	<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
	<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.js"></script>

</head>
<body>
<div class="container-fluid">
<a href="/"><H1>Feature visualizer</H1></a>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel-body">
				<form action='/visualize' method="post">
				<b>Feature selection:</b></br>
					{% for feature in feature_names %}
						{% if feature in selected_features %}
							<label><input type="checkbox" name="feature" id ="{{ feature }}" value="{{ feature }}" checked>{{ feature }}</label>
						{% else %}
							<label><input type="checkbox" name="feature" id ="{{ feature }}" value="{{ feature }}">{{ feature }}</label>
						{% endif %}
						</br>
					{% endfor %}
			</div>
			<div class="panel-body">
				<b>Visualizations:</b></br>
				{% for v in viz_names %}
					{% if v in selected_viz %}
						<label><input type="checkbox" name="viz" value={{ v }} checked>{{ v }}</label>
					{% else %}
						<label><input type="checkbox" name="viz" value={{ v }}>{{ v }}</label>
					{% endif %}
					{% if v in "TSNE" %}
						<label>Iterations (min=250):</br><input type="text" name="tsne_iter" value="300"></label>
					{% endif %}
					{% if v in "MDS" %}
						<label>Max. Iterations (Warning: SLOW!!): </br><input type="text" name="mds_iter" value="5"></label>
					{% endif %}
					</br>
				{% endfor %}

				<button type='submit'>Submit</button>
				</form>
			</div>
		</div>
		<div class="col-sm-7">
			{{ script|safe }}
			{{ div|safe }}
		</div>
	</div>
</div>

</body>
</html>


